<!DOCTYPE html>
<html>
<head>
<title> Add Background img"
</title>
</head>
<body background="https://www.muralswallpaper.com/app/uploads/Pink-Marble-WEBSITE-SWATCH-820x532.jpg">
<div class="container">
<h1 class="user_tasks"> <%= current_user.username %>'s Task</h1>
<h4 class="task_name">Task Name: <%= @task.name %> <br>
<h4 class="task_details">Task Details: <%= @task.description %><br><br><br><br><br>

<a href="/tasks/<%= @task.id %>/edit"><button type="button" class="btn btn-primary btn-sm">Edit Task</button></a>
<a href="/tasks/<%= @task.id %>/delete"><button type="button" class="btn btn-primary btn-sm">Delete Task</button></a><br><br>


<h6><a href="/tasks">Back to Tasks</a>
</div>
<style>

    .user_tasks {
        color: #black;
        border: 2px #869089;
        outline-style: inset;
        outline-color: #black;
        outline-width: medium;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5%;
        margin-bottom: 20%;
        font-size: 75px;
    }

    .task_name {
        text-align: center;
    }

    .task_details {
        text-align: center;
    }

    h6 {
        text-align: center;
    }

</style>
</body>
</html>



